---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.mdx');
const pageTitle = "W2EMQ";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>a blog dedicated to the fine art of electron plumbing</h2>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate} />)}
	</ul>
	<style>
		ul {
			list-style-type: none;
			padding-left: 0;
		}
	</style>
</BaseLayout>